name: Build binding and shared natives
on:
  push:
    branches: [ 'main' ]
    paths:
      - 'Raylib-cs.BleedingEdge/**'
      - 'Raylib-cs.BleedingEdge.Runtimes/**'
      - 'Raylib-cs.BleedingEdge.Native/**'
      - 'raylib'
      - '.github/workflows/**'
  pull_request:
    branches: [ '*' ]
    paths:
      - 'Raylib-cs.BleedingEdge/**'
      - 'Raylib-cs.BleedingEdge.Runtimes/**'
      - 'Raylib-cs.BleedingEdge.Native/**'
      - 'raylib'
      - '.github/workflows/**'
jobs:
  prepare-package-info:
    runs-on: ubuntu-latest
    outputs:
      prefix: ${{ steps.package-info.outputs.prefix }}
      suffix: ${{ steps.package-info.outputs.suffix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup package info
        id: package-info
        shell: pwsh
        run: |
          $header = [System.IO.File]::ReadAllText('${{ github.workspace }}/raylib/src/raylib.h')

          # '"(\d+)\.(\d+)(.*)"' == "(0-9).(0-9)*" == "5.5-dev" or "6.0"
          if ( !($header -match '"(\d+)\.(\d+)(.*)"') )
          {
            exit 1
          }

          # $matches (with "6.0-dev" as example):
          # 3: -dev
          # 2: 6
          # 1: 0
          # 0: "6.0-dev"
          $version = $matches[1] + '.' + $matches[2] + '.' + 2
          $prefix = $version

          # . seems to sort fine unlike - ("5.5.1-dev.14" > "5.5.1-dev.13")
          $suffix = 'dev.${{ github.run_number }}'

          echo $prefix
          echo $suffix

          echo prefix=$prefix >> $env:GITHUB_OUTPUT
          echo suffix=$suffix >> $env:GITHUB_OUTPUT

  natives:
    strategy:
      matrix:
        name: [ 'linux-x64', 'osx-x64', 'osx-arm64', 'win-x64', 'win-x86' ]
        include:
          - name: 'linux-x64'
            os: 'ubuntu-latest'
            arch: 'x64'
            platform: 'Desktop'
          - name: 'linux-x86'
            os: 'ubuntu-latest'
            arch: 'i386'
          - name: 'linux-arm64'
            os: 'ubuntu-24.04-arm'
            arch: 'aarch64'
            platform: 'Desktop'
          - name: 'osx-x64'
            os: 'macos-latest'
            arch: 'x86_64'
            platform: 'Desktop'
          - name: 'osx-arm64'
            os: 'macos-latest'
            arch: 'arm64'
            platform: 'Desktop'
          - name: 'win-x64'
            os: 'windows-latest'
            arch: 'x64'
            platform: 'Desktop'
          - name: 'win-x86'
            os: 'windows-latest'
            arch: 'win32'
            platform: 'Desktop'
          - name: 'win-arm64'
            arch: 'arm64'
            platform: 'Desktop'
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Setup compile dependencies
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install \
            libasound2-dev \
            libx11-dev \
            libxrandr-dev \
            libxi-dev \
            libgl1-mesa-dev \
            libglu1-mesa-dev \
            libxcursor-dev \
            libxinerama-dev \
            libwayland-dev \
            libxkbcommon-dev

      - name: Setup compile dependencies for x86_32
        if: matrix.name == 'linux-x86'
        shell: bash
        run: |
          sudo apt-get install gcc-multilib

      - name: Compile native
        run: |
          dotnet build Raylib-cs.BleedingEdge.Native -c Release -r ${{ matrix.name }} /p:BuildArch=${{ matrix.arch }} /p:BuildPlatform=${{ matrix.platform }}

      - name: Upload native
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}-shared
          path: Raylib-cs.BleedingEdge.Native/bin/Release/runtimes/**
          if-no-files-found: 'error'
  
  pack-runtimes:
    runs-on: ubuntu-latest
    needs:
      - prepare-package-info
      - natives
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download shared natives
        uses: actions/download-artifact@v4
        with:
          pattern: '*-shared'
          path: Raylib-cs.BleedingEdge.Runtimes/runtimes
          merge-multiple: true

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Create NuGet package
        run: dotnet pack Raylib-cs.BleedingEdge.Runtimes /p:VersionPrefix=${{ needs.prepare-package-info.outputs.prefix }} --version-suffix ${{ needs.prepare-package-info.outputs.suffix }} -o nuget

      - name: Upload NuGet package artifact
        uses: actions/upload-artifact@v4
        with:
          name: Raylib-cs.BleedingEdge.Runtimes
          path: nuget/*

  pack-binding:
    runs-on: ubuntu-latest
    needs:
      - prepare-package-info
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Create NuGet package
        run: dotnet pack Raylib-cs.BleedingEdge /p:VersionPrefix=${{ needs.prepare-package-info.outputs.prefix }} --version-suffix ${{ needs.prepare-package-info.outputs.suffix }} -o nuget

      - name: Upload NuGet package artifact
        uses: actions/upload-artifact@v4
        with:
          name: Raylib-cs.BleedingEdge
          path: nuget/*
  
  upload-nuget-packages:
    runs-on: ubuntu-latest
    needs:
      - pack-runtimes
      - pack-binding
    steps:
      - name: Download NuGet package artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: Raylib-cs.BleedingEdge*
          path: nugets

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Upload artifacts to NuGet
        shell: pwsh
        run: |
          foreach ( $artifact in (Get-ChildItem 'nugets' -Recurse -Include *.nupkg) ) 
          {
            dotnet nuget push $artifact -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
          }
